/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
        padding: 15px;
    }

    button {
        font-size: 14px; /* Ajusta o tamanho da fonte em telas menores */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 12px; /* Ajusta o tamanho da fonte em telas muito pequenas */
        padding: 8px 16px;
    }
}