/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte ajustado */
}

button:hover {
    background-color: #45a049;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
        padding: 15px;
    }

    button {
        font-size: 14px; /* Ajusta o tamanho da fonte em telas menores */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 12px; /* Ajusta o tamanho da fonte em telas muito pequenas */
        padding: 8px 16px;
    }
}